/* ====== Paleta y base ====== */
:root {
    -app-bg: #16171B;
    -sidebar-bg: #1B1D22;
    -content-bg: #20232A;
    -header-bg: #20232A;
    -text: #F2F3F5;
    -text-n-white: #0E0E0E;
    -muted: #9AA0A6;
    -primary: #7C3AED;
    -primary-ghost: rgba(124,58,237,0.20);
    -divider: rgba(255,255,255,0.06);
    -btn-bg: rgba(255,255,255,0.05);
    -btn-bg-hover: rgba(255,255,255,0.12);
    -selected: rgba(124,58,237,0.22);
    -selected-border: #A78BFA;
    -danger: #EF4444;
}

.root {
    -fx-background-color: -app-bg;
    -fx-font-family: "Segoe UI", system-ui, Roboto, Arial;
    -fx-text-fill: -text;
}


/* ====== Sidebar ====== */
.sidebar {
    -fx-background-color: -sidebar-bg;
    -fx-border-color: -divider;
    -fx-border-width: 0 1 0 0;
}
.sidebar-title {
    -fx-text-fill: -muted;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 4 0 8 0;
}
.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: -text;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 12 10 12;
    -fx-background-radius: 8;
}

/* Hover */
.nav-btn:hover {
    -fx-background-color: -btn-bg-hover;
}

/* Estado seleccionado (activo) */
.toggle-button.nav-btn:selected {
    -fx-background-color: -selected;
    -fx-border-color: -selected-border;
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.sidebar-exit {
    -fx-background-color: transparent;
    -fx-text-fill: -danger;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 12 10 12;
    -fx-background-radius: 8;
}
.sidebar-exit:hover { -fx-background-color: -danger; }

/* Contenido */
.content-root { -fx-background-color: -content-bg; }

.section-h1 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -text;
}

/* Cards para Home */
.card {
    -fx-background-color: -btn-bg;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 16, 0.2, 0, 6);
    -fx-min-width: 260;
}
.card-title {
    -fx-text-fill: -text;
    -fx-font-weight: bold;
    -fx-padding: 0 0 4 0;
}

/* Controles base */
.label { -fx-text-fill: -text; }
.button { -fx-text-fill: -text; }
.separator *.line { -fx-background-color: -divider; }

/* barra superior */
.window-bar {
    -fx-background-color: -header-bg;
    -fx-border-color: -divider;
    -fx-border-width: 0 0 1 0;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 8;
}
.window-title {
    -fx-text-fill: -text;
    -fx-font-weight: bold;
}

/* Botones ventana */
.win-btn {
    -fx-background-color: -btn-bg;
    -fx-text-fill: -text;
    -fx-background-radius: 8;
    -fx-padding: 2 10 2 10;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}
.win-btn:hover { -fx-background-color: -btn-bg-hover; }
#btnClose:hover { -fx-background-color: -danger; }
